[Unit]
Description=SSDP client announcement daemon
After=syslog.target
Requires=network.target

[Service]
ExecStart=/usr/sbin/tiny-ssdpd --no-daemon
Type=simple

[Install]
WantedBy=multi-user.target

