Package: tiny-ssdp
Version: 0.22
Architecture: armhf
Maintainer: Julien Blitte <julien.blitte@gmail.com>
Installed-Size: 1024
Depends: libc6, apache2, php5
Conflicts: minissdpd, miniupnpc
Section: net
Priority: optional
Homepage: http://marin.jb.free.fr/tiny-ssdp
Description: Mini SSDP client service, enable UPnP network announcement.
 Provide a very small SSDP client service to enable network UPnP announcement
 and potential basic UPnP service presentation.
